@import "tailwindcss";


@theme {
  --breakpoint-xs: 20rem;  /* 320px */
  --breakpoint-sm: 25.75rem;  /* 412px */
  --breakpoint-md: 48rem;  /* 768px */
  --breakpoint-lg: 64rem;  /* 1024px */
  --breakpoint-xl: 80rem;  /* 1280px */
}



@font-face {
  font-family: "SFPRODISPLAYREGULAR";
  src: url("/Font/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fontspring";
  src: url("/Font/Fontspring-DEMO-P22MackinacProMedium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EBGaramond";
  src: url("/Fonts/EBGaramond-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("/Fonts/Figtree.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DavidLibre";
  src: url("/Fonts/DavidLibre-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@keyframes blink-cursor {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink-cursor {
  animation: blink-cursor 0.8s step-end infinite;
}
